
<article>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2 class="section-heading">Ediciones Anteriores</h2>
        <p class="text-faded">Con la asistencia de más de 500 estudiantes de diferentes escuelas secundarias, se llevaron a cabo talleres destinados a explorar las capacidades de las tecnologías digitales a las que los jóvenes tienen acceso. De esta manera, se realizaron talleres de fotografía móvil, snapchat, vine, reciclado de desechos electrónicos, creación de videojuegos.
          Asimismo, la amplia participación de docentes en las conferencias y los numerosos interesados en presentar ponencias, nos incentivan a proyectar el evento y organizarlo nuevamente para el año venidero.</p>
          <h3>AÑO 2014</h3>
          <p class="text-faded">CCon la asistencia de más de 500 estudiantes de diferentes escuelas secundarias, se llevaron a cabo talleres destinados a explorar las capacidades de las tecnologías digitales a las que los jóvenes tienen acceso. De esta manera, se realizaron talleres de fotografía móvil, snapchat, vine, reciclado de desechos electrónicos, creación de videojuegos.
            Asimismo, la amplia participación de docentes en las conferencias y los numerosos interesados en presentar ponencias, nos incentivan a proyectar el evento y organizarlo nuevamente para el año venidero.</p>

            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/GXC0E69Pyno?rel=0"></iframe>
            </div>
              
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center">
            <h3>AÑO 2014</h3>
            <p class="text-faded">Con la asistencia de más de 500 estudiantes de diferentes escuelas secundarias, se llevaron a cabo talleres destinados a explorar las capacidades de las tecnologías digitales a las que los jóvenes tienen acceso. De esta manera, se realizaron talleres de fotografía móvil, snapchat, vine, reciclado de desechos electrónicos, creación de videojuegos.</p>
            <p class="text-faded">Asimismo, la amplia participación de docentes en las conferencias y los numerosos interesados en presentar ponencias, nos incentivan a proyectar el evento y organizarlo nuevamente para el año venidero.</p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/irVtwwm1WxY?rel=0"></iframe>
            </div>

          </div>
        </div>
      </div>

    </section>
  </article>


{{outlet}}
